
<div class ='container'>
<br/>

<div class="card">
  <div class="card-header">
    <h4>New File</h4>
  </div>
  <div class="card-body">
<%= render 'form', drop: @drop %>

<%= link_to 'Back', drops_path %>
    
  </div>
</div>







